/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
    
}

.navegacion__elemento a:hover {
    background-color: #EAF2FD;
    font-size:small;
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    padding: 2rem;
    /*background-color: /*var(--color-de-fondo-menu) green;*/
}

.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */
    /*background-color: aqua;*/
    display: flex;
    flex-wrap:wrap;
}

/*.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
    /*background-color: yellow;
}*/

.logoynombre{
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-self: start;
    gap: 10px;
}

.navegacion {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: end;
    /*background-color: plum;*/
    margin-left: 300px;
}


.navegacion__lista {
    display:flex;
   /* background-color: pink;*/
}

.navegacion__elemento{
    padding: 5px;
    margin: 5px;
    /*background-color: burlywood;*/
}

.navegacion__elemento a {
    font-size: 0.9rem;
    /*background-color: orange;*/
}
/* ------------------------------ Sección Presentación ------------------------------*/


/* ------------------------------ Sección sobre mí ----------------------------------*/


/*------------------------------ Sección de Habilidades ------------------------------*/

.habilidades__titulo{
    align-content: center;
}

/*------------------------------ Sección de Aficiones --------------------------------*/


/*------------------------------ Sección de Proyectos --------------------------------*/


/*------------------------------ Sección de Contacto ---------------------------------*/


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (max-width: 768px) {

    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*background-color: #428bca;*/
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
        
    }

    .navegacion__elemento {
        display: none;
    }

    .navegacion__elemento:last-child {
        display: block;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }


    .presentacion__foto {
        width: 250px;
        height: 250px;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 0;
        margin-right: 50px;
        /*background-color: antiquewhite;*/
    }

    
    .proyectos{
        /*background-color: antiquewhite;*/
        display: flex;
        flex-direction: column;
    }

    .proyectos__grupo1{
        /*background-color: aquamarine;*/
        width: 100%;

    }
    
    .proyectos__grupo2{
        /*background-color: aquamarine;*/
        width: 100%;

    }
    
    
    .proyectos__descripcion{
        width: 5%;
        /*background-color: blueviolet;*/
    }
    
    .proyectos__contenedor{
        width: 90%;
        /*background-color: blue;*/
    }

    .proyectos__foto{
       /*display: none;*/
       width: 20%;
       /*padding: 10px;*/
    }

    .formacion__icono{
        display: none;
    }

}


/* Movil */
@media (max-width: 460px) {

    .cabecera {
        flex-direction: row;
        align-items: end;
        /*background-color: pink;*/
    }

    .cabecera__logo {
        max-width: 50px;
    }

    .superior__seccion__container ul{
        /*background-color: #aaaaaa;*/
        align-self: start;
    }


    .navegacion__elemento {
        display: none;
    }

    .navegacion__elemento:last-child {
        display: block;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .navegacion {
        margin-left: 10px;
    }

    .presentacion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        /*background-color: red;*/
    }

    .presentacion__contenedor{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 200px;
        /*background-color: #428bca;*/
    }

    .presentacion__foto {
        width: 100px;
        height: 150px;
        margin-top: 40px;
        margin-bottom: 40px;
        /*background-color: antiquewhite;*/
        padding: 0;
        display: flex;
        flex-direction: row;
    }


    .lema{
        padding: 5px;
        text-align: center;
        margin-top: 40px;
        justify-self: center;
    }


    .proyectos{
        /*background-color: antiquewhite;*/
        display: flex;
        flex-direction:column;
    }

    .proyectos__grupo1{
        /*background-color: aquamarine;*/
        width: 100%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
    
    .proyectos__grupo2{
        /*background-color: aquamarine;*/
        width: 100%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
    
    
   .proyectos__descripcion{
        width: 100%;
        height: 40px;
        margin: 0%;
        padding: 0%;
        /*background-color: blueviolet;*/
    }
    
    .proyectos__contenedor{
        width: 100%;
        /*background-color: blue;*/
    }

    .proyectos__foto{
        /*display: none;*/
        object-fit:contain;
       height: 50%;
       width: 50%;
    }

    .formacion__icono{
        display: none;
    }

    .contacto{
        padding: 10px;
        justify-self: center;
    }

    .contacto__boton{
        height: 50px;
    }

}

/* Pantallas grandes */
@media (min-width: 1024px) {
    /*Aquí puedes ajustar aún más el diseño para pantallas grandes*/
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}


/*carrusel*/
.slide {
    position: relative;
    /*box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);*/
    margin: 80px;
}
.slide-inner {
    position: static;
    overflow: hidden;
    /*width: 100%;*/
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    /*-webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;*/
}
.slide-item img {
    display: flex;
    justify-self: center;
    height: auto;
    max-width: 100%;
    padding: 20px;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
